<ul class="sg-colors">
	{{# brandcolors}}
	<li>
		<span class="sg-swatch" style="background: {{colorvalue}};"></span>
		<span class="sg-label">
            {{label}} <br />
            {{colorvalue}}
        </span>
	</li>
	{{/ brandcolors}}
</ul>
