body {
    font-size: 1em;
    color: $background-titlegray;
    background-color: $background-default;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: 100;
}

a {
    color: $primary-ballpoint;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}