/*
	brand colors
*/

$primary-magenta: #e30075;
$primary-magenta-hover: #ce006a;
$primary-cyaan: #00acd5;
$primary-ballpoint: #0074a7;
$primary-teal: #00b1aa;

/*
	secondary colors
*/

$secondary-geel: #f6c900;
$secondary-groen: #0fa550;
$secondary-rood: #e73446;