<td class="dashboard__cell {{# status }} dashboard__cell--{{ status }} {{/ status }}">
    <strong class="application__version">{{ version }}</strong>
    <time>{{ date }}</time>
</td>
<!-- / dashboard-cell -->
