{{# dashboard }}
<table class="dashboard">
    {{# enviroments }}
  <thead class="dashboard__header">
    <tr>
    {{# items }}
      <th class="dashboard__header-cell {{ class }} {{# modifierClass }} dashboard__header-cell--{{ modifierClass }} {{/ modifierClass }}">
      {{ content }}

      </th>
      {{/ items }}
      </tr>
      </thead>
    {{/ enviroments }}

	<tbody>
    {{> molecules-dashboard-row }}
      </tbody>
    </table>
    {{/ dashboard }}
