<div style="padding: 1em;background: url('../../../images/flag.jpg') left;width: 100%; height: 100px;">
	<button
		class="btn btn--ghost btn--{{ modifier-class }} btn__{{ element-class }}">
		<span class="btn__label">{{ label }}</span>
		<b class="btn__arrow">&#10142;</b>
	</button>
</div>
